/* Content styles */
.content {
    background-color: rgba(20,20,20,0.9);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #3a3f47;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}

.content h1 {
    font-size: 1.8em;
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;

}

.content h2 {
    font-size: 1.4em;
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;

}

/* Hide the alternate text by default */
.alternate-text {
    display: none;
}

/* Hide the alternate text by default */
.small-text {
    display: none;
}

/* For example, when the viewport is less than 600px wide */
@media (max-width: 1200px) {
    /* Hide the default text */
    .default-text {
        display: none;
    }
    
    /* Show the alternate text */
    .alternate-text {
        display: block;
    }

    .small-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .default-text {
        display: none;
    }
    
    /* Show the alternate text */
    .alternate-text {
        display: none;
    }

    .small-text {
        display: block;
    }
}