/* Footer styles */
.footer {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap */
    justify-content: space-around;
    align-items: flex-start; /* Align to the top */
    padding: 0px;
    background-color: #141414; /* Same as body background color */
    border-top: 1px solid #2E2E2E; /* A slight border for separation */
}

.footer-column {
    flex-grow: 1;
    min-width: 180px; /* Adjust this value for your needs */
    margin: 10px 10px 15px 10px;
}

.footer-info {
    color: #7d8590;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    margin-top: 10px; /* Add spacing above the copyright info */
    padding: 0px 0px 10px 0px;
}

.footer-column h4 {
    font-size: 1.0em;
    color: #7d8590;
    margin-bottom: 15px;
    position: relative;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    font-size: 0.8em;
    line-height: 1.5;
    color: #7d8590;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #2e81f7;
    text-decoration: underline;
}

.footer-info span, .footer-info a {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 0px;
    }

    .footer-column {
        margin: 0px;
        width: 100%;
    }
    
    .footer-column h4 {
        cursor: pointer;
        margin-bottom: 0; /* Adjust spacing for dropdown header */
        padding-bottom: 15px;
        border-bottom: 1px solid #2E2E2E; /* A slight border for separation */
        position: relative; /* This is added to position the arrow */
    }

    .footer-column h4::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 18%;
        transform: translateY(-100%);
        width: 5px; /* Adjust to your desired width */
        height: 5px; /* Adjust to your desired height */
        border-left: 1px solid #7d8590; /* Left diagonal of V */
        border-bottom: 1px solid #7d8590; /* Right diagonal of V */
        transform: rotate(-45deg);
    }
    
    .footer-info {
        border-top: none;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    
    .footer-column ul {
        display: none; /* Hide by default */
        width: 100%;  /* Span the container */
    }

    .footer-column ul.active {
        display: block; /* Show when active */
    }

    .footer-column h4.active::after {
        transform: rotate(135deg) !important;
        top: 28%;
    }
}